* {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
}

#mainContent {
    background-color: #E5E5E5;
}

p {
    font-size: 12px;
    line-height: 7px;
}

p.aboutTop1 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 139.19%;
    /* or 17px */
    letter-spacing: 0.015em;    
    color: #4A4A4A;
}

p.aboutTop2 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 155.19%;
    /* or 19px */
    color: #4A4A4A;
}

p.paragraphDes {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    color: #4A4A4A;
}

figure {
    display: inline-block;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: right;
    font-family: SF Pro Text;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 155.19%;
    /* or 16px */
    color: #4A4A4A;
}

figure.weeds_figure {
    margin-left: 10%;
}

figure.dating_figure {
    margin-left: 15%;
}

.storyboard_img {
    margin-left: 15%;
    height: auto;
    width: 20vw;
}

.personaPics {
    height: auto;
    width: 25vw;
}

#catalog_cover {
    height: auto;
    width: 30vw;
    margin-top: 45px;
}

.modal_L {
    height: auto;
    width: 100%;
}

#speeddate_1 {
    height: auto;
    width: 20vw;
}

#speeddate_2 {
    height: auto;
    width: 20vw;
}

#lowfi_1 {
    height: auto;
    width: 15vw;
}

#lowfi_2 {
    height: auto;
    width: 15vw;
}

#lowfi_3 {
    height: auto;
    width: 15vw;
}

#lowfi_4 {
    height: auto;
    width: 12vw;
}

#lowfi_5 {
    height: auto;
    width: 20vw;
}

#lowfi_6 {
    height: auto;
    width: 12vw;
}

#lowfi_7 {
    height: auto;
    width: 20vw;
}

#lowfi_8 {
    height: auto;
    width: 20vw;
}

#lowfi_9 {
    height: auto;
    width: 20vw;
}

#desktop_1 {
    height: auto;
    width: 35vw;
}

#desktop_2 {
    height: auto;
    width: 35vw;
}

#desktop_3 {
    height: auto;
    width: 35vw;
}

#desktop_4 {
    height: auto;
    width: 35vw;
}

#researchGoals_header {
    display: inline;
    color: #A090CB;
    background-color: white;
}

#designGoals_header {
    display: inline;
    color: #71ADD5;
    background-color: white;
}

#branding {
    height: auto;
    width: 20vw;
}

#styleguide {
    height: auto;
    width: 20vw;
}

#catalog_mobile {
    height: auto;
    width: 64vw;
    margin-left: 4%;
    margin-top: 20px;
}

#dating_offset {
    padding-top: 45px;
}

#finalDesktop_offset {
    padding-top: 45px;
}

p.text-right {
    font-weight: bold;
    font-size: 8vw;
    margin-bottom: -3.4vw;
}

ul.navbar-nav {
    padding-top: 0px;
    font-size: 14px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}

a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
}

a.design_sub {
    font-size: 12px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}

#amy:hover, #amy:active {
    color: black;
}

h1 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 155.19%;
    /* or 62px */
    letter-spacing: 0.08em; 
    color: #000000;
}

h2 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 155.19%;
    /* or 37px */
    letter-spacing: 0.045em;
    color: #000000;
}

#copyright {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #4A4A4A;
}

footer {
    padding-top: 30px;
}

#nextPage {
    /*border: 1px solid black; */
    text-align: right;
}

#nextText {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    /* or 25px */
    color: #4A4A4A;
}

@media (max-width:768px) {
    #catalog_cover {
        height: auto;
        width: 100%;
        margin-top: 45px;
    }

    .personaPics {
        height: auto;
        width: 100%;
    }

    .storyboard_img {
        margin-left: 0%;
        height: auto;
        width: 100%;
    }

    #speeddate_1 {
        height: auto;
        width: 100%;
    }
    
    #speeddate_2 {
        height: auto;
        width: 100%;
    }

    #lowfi_1 {
        height: auto;
        width: 49%;
    }
    
    #lowfi_2 {
        height: auto;
        width: 49%;
    }
    
    #lowfi_3 {
        height: auto;
        width: 100%;
    }

    #lowfi_4 {
        height: auto;
        width: 49%;
    }
    
    #lowfi_5 {
        height: auto;
        width: 49%;
    }
    
    #lowfi_6 {
        height: auto;
        width: 49%;
    }
    
    #lowfi_7 {
        height: auto;
        width: 49%;
    }

    #lowfi_8 {
        height: auto;
        width: 100%;
    }
    
    #lowfi_9 {
        height: auto;
        width: 100%;
    }

    #branding {
        height: auto;
        width: 100%;
    }
    
    #styleguide {
        height: auto;
        width: 100%;
    }

    #catalog_mobile {
        height: auto;
        width: 100%;
        margin-left: 0%;
    }

    #desktop_1 {
        height: auto;
        width: 100%;
    }
    
    #desktop_2 {
        height: auto;
        width: 100%;
    }
    
    #desktop_3 {
        height: auto;
        width: 100%;
    }
    
    #desktop_4 {
        height: auto;
        width: 100%;
    }
}