* {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
}

#mainContent {
    background-color: #F6F6F6;
    padding-top: 20px;
}

h1 {
    font-family: "Adobe Caslon Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 155.19%;
    /* or 68px */
    letter-spacing: 0.08em;
    color: #000000;
}

#cinnabonTitle {
    background-image: url("cinnabon_header.png");
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin-left: -25px;
    margin-top: -20px;
    padding-top: 30px;
}
/*this is to adjust margin for intro */
div.col-md-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 139.19%;
    /* or 17px */
    letter-spacing: 0.015em;
    color: #4A4A4A;
    margin-top: 20px;
    margin-bottom: 50px;
}

div.col-md-10 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 155.19%;
    /* or 19px */
    color: #4A4A4A;
    margin-top: 20px;
    margin-bottom: 50px;
}

div.col-md-6, div.col-md-12 {
    padding-bottom: 25px;
}

/* Section Header CSS */
ul.sectionHeader {
    list-style-type: square;
    margin-left: -18px;
}

ul.sectionHeader li {
    font-family: (Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 155.19%;
    /* or 37px */
    letter-spacing: 0.045em;
    color: #000000;
}

p {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    color: #4A4A4A;
}

/* Images */
#cinnabon_cover {
    width: 90%;
    height: auto;
}

.compPics {
    width: 30vw;
    height: auto;
    cursor: zoom-in;
}

#prototype1 {
    width: 30vw;
    height: auto;
    cursor: zoom-in;
}

#prototype2 {
    width: 90%;
}

#prototype3 {
    width: 90%;
    height: auto;
}

#cinnabon_process {
    width: 25vw;
    height: auto;
    cursor: zoom-in;
}

#cinnabon_visual {
    width: 90%;
}

#cinnabon_figma {
    width: 90%;
    height: auto;
    cursor: zoom-in;
}

#cinnabon_final {
    width: 90%;
    height: auto;
}

#cinnabon_revision {
    width: 90%;
    height: auto;
}

#cinnabon_video {
    width: 80%;
    height: auto;
}

.codedPic {
    width: 90%;
    height: auto;
}

button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px;

}

/* Figures */

.figure-caption {
    font-family: "SF Pro Text";
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 155.19%;
    /* or 16px */
    color: #4A4A4A;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

#cinnabon_javascript {
    width: 30vw;
    height: auto;
    cursor: zoom-in;
}

/* Modal */
.modal-dialog {
    width: 0%;
    height: 0%;
    margin: 2% 0% 0% 20%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal_L {
    height: auto;
    width: 60vw;
    margin: auto;
    cursor: zoom-out;
}

/* Navbar CSS */
ul.navbar-nav {
    padding-top: 0px;
    font-size: 14px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}

a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
}

#copyright {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #4A4A4A;
}

footer {
    padding-top: 30px;
}

#nextPage {
    text-align: right;
    margin-right: -13%;
}

#nextText {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    /* or 25px */
    color: #4A4A4A;
}

@media (max-width:768px) {
    div.col-md-2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 139.19%;
        /* or 17px */
        letter-spacing: 0.015em;
        color: #4A4A4A;
    }
    
    div.col-md-10 {
        font-family: (Roboto);
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 155.19%;
        /* or 19px */
        color: #4A4A4A;
    }

    /* Modal */
    .modal-dialog {
        width: 0%;
        height: 0%;
        margin: 2% 0% 0% 5%;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .modal_L {
        height: auto;
        width: 90vw;
        margin: auto;
        cursor: zoom-out;
    }

    #prototype1 {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }

    #cinnabon_process {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }

    #cinnabon_javascript {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }
    #nextPage {
        text-align: right;
        margin-right: 0%;
    }
    
}