* {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

#ant_cover {
    background-image: url("ant_cover.png");
}

#catalog_cover {
    background-image: url("catalog_cover.png");
}

#junto_cover {
    background-image: url("junto_cover.png");
}

#cinnabon_cover {
    background-image: url("cinnabon_cover.png");
}

#humancir_cover {
    background-image: url("humancir_cover.png");
}

#fashion_cover {
    background-image: url("Fashion.png");
}

#about_cover {
    background-image: url("0-Amy-Lu.jpg");
}

.responsive {
    background-position: center;
    height: calc(2.38vw * 6.0);
    width: calc(3.35vw * 6.0);
    background-repeat: no-repeat;
    background-size: auto 105%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2%;
    overflow: hidden;
    max-height: 238px;
    max-width: 335px;
}

.responsive:hover {    
    background-size: auto 123%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
    box-shadow: 0 15px 25px -10px (rgba(0, 0, 0, 0.25));
}

.responsive-wrapper {
    text-align: center;
}

.responsive-text {
    margin-top: 50%;
    background-color: rgba(252, 252, 252, 0.9);
    padding: 10px;
    color: black;
    display: inline-block;
    font-size: 14px;
}

p.text-right {
    font-weight: bold;
    font-size: 8vw;
    margin-bottom: -3.4vw;
}

#Intro {
    padding-top: 30px;
}

#Design {
    background-color:#ebf7ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

#Research {
    background-color: #E9E2FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Fashion {
    background-color: #FDE2F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#About {
    background-color: #EDF9EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.navbar-nav {
    padding-top: 220px;
    font-size: 14px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}

a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
}

a.design_sub {
    font-size: 12px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}

#amy:hover, #amy:active {
    color: black;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0.1em;
}

#whoIsAmy {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.07em;
    color: #4A4A4A;
}

#copyright {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #4A4A4A;
}

footer {
    padding-top: 30px;
}