* {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
}

#mainContent {
    background-color: #F6F6F6;
    padding-top: 20px;
}

h1 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 155.19%;
    /* or 62px */
    letter-spacing: 0.08em;
    color: #000000;
}

div.col-md-2 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 139.19%;
    /* or 17px */
    letter-spacing: 0.015em;
    color: #4A4A4A;
    margin-top: 20px;
    margin-bottom: 100px;
}

div.col-md-10 {
    font-family: (Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 155.19%;
    /* or 19px */
    color: #4A4A4A;
    margin-top: 20px;
    margin-bottom: 100px;
}

div.col-md-6, div.col-md-12 {
    padding-bottom: 25px;
}

/* Section Header CSS */
ul.sectionHeader {
    list-style-type: square;
    margin-left: -18px;
}

ul.sectionHeader li {
    font-family: (Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 155.19%;
    /* or 37px */
    letter-spacing: 0.045em;
    color: #000000;
}

p {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    color: #4A4A4A;
}

/* Images */
#humancir_cover {
    width: 90%;
}

#project_definition {
    width: 70%;
}

#research_problem {
    width: 70%;
}

/* Figures */

#stakeholder {
    width: 20vw;
    cursor: zoom-in;
}

#customer {
    width: 20vw;
    cursor: zoom-in;
}

#bkgd {
    width: 30vw;
    cursor: zoom-in;
}

#walkthewall {
    width: 30vw;
    cursor: zoom-in;
}

.interviews {
    width: 15vw;
    cursor: zoom-in;
}

#affinity_diagram {
    width: 80vw;
    cursor: zoom-in;
}

#critique {
    width: 30vw;
    cursor: zoom-in;
}

.figure-caption {
    font-family: "SF Pro Text";
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 155.19%;
    /* or 16px */
    color: #4A4A4A;
}

/* Storyboard Collection */
.swap-on-hover {
    /*position: relative; */
    margin:  0 auto;
    max-width: 400px;
}

.swap-on-hover_front-image, .swap-on-hover_back-image {
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    /* Sets the width and height for the images*/
    width: 90%;
}

.swap-on-hover .swap-on-hover_front-image {
    /*z-index: 9999;*/
    transition: opacity .5s linear;
    cursor: zoom-in;
}

.swap-on-hover:hover > .swap-on-hover_front-image{
    opacity: 0;
}  

.storyboard_filler {
    margin-bottom: 180px;
}

/* Modal */
.modal-dialog {
    width: 0%;
    height: 0%;
    margin: 2% 0% 0% 20%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal_L {
    height: auto;
    width: 60vw;
    margin: auto;
    cursor: zoom-out;
}

/* Navbar CSS */
ul.navbar-nav {
    padding-top: 0px;
    font-size: 14px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}

a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
}

#copyright {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #4A4A4A;
}

footer {
    padding-top: 30px;
}

#nextPage {
    text-align: right;
    margin-right: -13%;
}

#nextText {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    /* or 25px */
    color: #4A4A4A;
}

@media (max-width:768px) {
    #nextPage {
        text-align: right;
        margin-right: 0%;
    }
    .col-md-3.storyboard {
        padding-bottom: 300px;
    }
    .storyboard_filler {
        margin-bottom: 0px;
    }
}